.navbar{
    background-color:#926FF6;
}

.nav-link{
    color:white !important;
    font-size: 12px;
    font-family:"Poppins";
    font-weight: 400;
}
.navbar-brand{
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 800;
}
.header-info{
    background-color:#926FF6;
    color:aliceblue;


}
.header-info > h1{
    font-family:"Poppins";
    font-weight: 800;
    font-size: 62;
}
.header-info > p{
    font-family:"Poppins";
    font-size: 12px;
   color: #FFE074;
    
}
.a1{
    font-family: Poppins;
    font-size: 12px;
    color:#FFE074
}
.a2{
    font-family:Poppins;
font-size:24px;
}
.a3{
font-family:Poppins;
font-size:16px;
font-weight: 300;
}
.col-5 >div > h3{
    color: #F3849F;
}
body{
    background: #F2F2F2 !important;;
}
.container > p{
    font-family: Poppins;
}
.h3{
    font-size: 16px !important;
}
.p1{
    color: #FFAE00;
    font-family: Poppins;
}
.container > h1{
    font-family:Poppins;
}
.buttons > button:hover{
background-color: #F3849F !important;
color:white;
border-radius: 10px;
}
.buttons > button.active{
    background-color: #F3849F !important;
color:white;
border-radius: 10px;
}
.img-grid  img{
    height: 350px;
}
.div10{

    background-color: #F7EEFF;
}
.p3{
    color: #FFAE00;
    font-family: Poppins;
    font-size:12px;

}
.h2{
    font-size: 24px;
    font-family: Poppins;
}
.div2{
    background-color: #F7EEFF;
   
}
.p1{
    color: #F3849F;
    font-size: 12px;
    font-family:Poppins;
}
.c1{
    color:#926FF6;
    font-size: 12px;
    font-family:Poppins;
}
.b1{
    color:#79CFFF;
   
    font-size: 12px;
    font-family:Poppins;
}
.a1{
   color:#4F4F4F; 
    font-size: 14px;
    font-family:Poppins;
}
.class1{
    width: 100%;
    height: 154px;
    background-color: #333333;
   
}
.t9{
    color: white;
}
.h4{
    color:#F3849F !important;
    font-size: 16px !important;
    font-family: Poppins !important;
}